.calendarContainer {
  border: 5px solid #38004B;
  display: flex;
  flex-wrap: wrap;
  background-color: #03E3F9;
}

.weekdaysContainer, .squaresContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.weekday, .squares {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0.6%;
  width: 13%;
  background-color: #FDFD47;
  color: #000000;
}

.weekday {
  background-color: #FD3195;
}

.active {
  background-color: red;
}
