.calendarContainer {
  border: 5px solid #38004B;
  display: flex;
  flex-wrap: wrap;
  background-color: #03E3F9;
}

.weekdaysContainer, .squaresContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.weekday, .squares {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0.6%;
  width: 13%;
  background-color: #FDFD47;
  color: #000000;
}

.weekday {
  background-color: #FD3195;
}

.active {
  background-color: red;
}

.monthYearContainer {
  display: flex;
  justify-content: space-around;
}

.monthYear {
  height: 30px;
  line-height: 30px;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;

  border-right: 30px solid #FE5A27;
}

.rightArrow {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;

  border-left: 30px solid #FE5A27;
}
