.rightContainer {
  max-width: 590px;
  min-width: 400px;
  color: grey;
  border-left: 5px solid black;
}

.calendarContainer {
  border-top: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
}

.weekdaysContainer, .squaresContainer {
  padding: 0 0 3px 4px;
  display: flex;
  width: 100%;
  font-size: 1.5em;
  flex-wrap: wrap;
}

.squaresContainer {
  min-height: 335px;
}

.weekday, .squares {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0.6%;
  width: 13%;
}

.squares {
  cursor: pointer;
}

.emptySquares {
  background-color: transparent;
}

.weekday {
  color: red;
}

.active {
  color: white;
  border-radius: 4%;
  background-color: red;
}

.monthYearContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.monthYear {
  flex-basis: 200px;
  font-weight: 700;
  line-height: 2;
  font-size: 1.5em;
}

.leftArrow {
  width: 0;
  height: 0;
  margin-left: 10px;
  cursor: pointer;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 15px solid grey;
}

.rightArrow {
  width: 0;
  height: 0;
  margin-right: 10px;
  cursor: pointer;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 15px solid grey;
}
